{% extends 'blog/base.html' %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        {% if object.author == user%}
          <div>
            <a  class="btn btn-outline-success" href="{% url 'blog-update' object.id %}">update</a> 
           <a  class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2><a class="article-title" href="">{{ object.title }}</a></h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
    <br>
  </article>   
{% endblock content %}

{% block comment %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">        
        <h2> Comments</h2>
        <hr>
         <h6>Add Comment</h6> 
          <div class="bg-light p-2">
            <div class="d-flex flex-row align-items-start">
              <img class="rounded-circle article-img" src="{{request.user.profile.image.url }}" alt="">
              <textarea class="form-control ml-1 shadow-none textarea"></textarea>
            </div>
            <div class="mt-2 text-right">
              <a class="btn btn-outline-success"  type="button">Post Comment</a> 
              <a  class="btn btn-outline-danger" type="button">Cancel</a>
            </div>
          </div>

          {% csrf_token %}
          {{ comment_form.content.label_tag }} <!-- Label for the content field -->
          {{ comment_form.content }} <!-- Input field for the content -->
          {{ comment_form.content.errors }} <!-- Display any form errors for the content field -->
          <!-- <button type="submit">Submit</button> -->
        
          {% for comment in post.comments.all %}
            <div class="comment">
              <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}" alt="">
              <strong>
                <a class="mr-2" href="#">{{ comment.author }}</a>
                <small class="text-muted">{{ comment.date_posted }}</small>
              </strong>
              <p class="article-content" style="margin-left: 90px;">{{ comment.content }}</p>
            </div>
            <br>
          {% endfor %}
       
      </div>
    </div>
  </article>
{% endblock %}



{% block Gist %}
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;" style="padding-top: 120px;">
    <a id="list-group" style="text-decoration: none;" href="" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <!-- <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg> -->
      <span class="fs-5 fw-semibold" id="gist-btn">Latest Gist</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action  lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Seriously, Stop Trying to Teach Toddlers How to Code...By Desphixs
        </strong>
          <small>Thur</small>
        </div>
        <div class="col-10 mb-1 small">AS A BABY nerd, I was obsessed with Hackers. The 1995 cult movie... </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Its not a bug - It's a feature... by Desphixs</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">When it comes to coding, everything works like a miracle, let me use that word...hahaha</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">I wanted to be a great programmer but...by Desphixs</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
      </a>
       <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">I wanted to be a great programmer but...by Desphixs</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
      </a>
    </div>
  </div>
{% endblock %}

