{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="content-section">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend claass="border-bottom mb-4">Delete Post</legend>
               <h6>Hey Do You want to delete this post<b>"{{object.title}}"</b></h6>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Delete</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">If you dont want to delete <a href="{% url 'blog-home' %}">Go Back</a></small>
        </div>
    </div>
{% endblock content %}
{% block Gist %}
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;" style="padding-top: 120px;">
    <a id="list-group" style="text-decoration: none;" href="" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <!-- <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg> -->
      <span class="fs-5 fw-semibold" id="gist-btn">Latest Gist</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="#" class="list-group-item list-group-item-action  lh-tight" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Seriously, Stop Trying to Teach Toddlers How to Code...By Desphixs
        </strong>
          <small>Thur</small>
        </div>
        <div class="col-10 mb-1 small">AS A BABY nerd, I was obsessed with Hackers. The 1995 cult movie... </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Its not a bug - It's a feature... by Desphixs</strong>
          <small class="text-muted">Wed</small>
        </div>
        <div class="col-10 mb-1 small">When it comes to coding, everything works like a miracle, let me use that word...hahaha</div>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">I wanted to be a great programmer but...by Desphixs</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
      </a>
       <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">I wanted to be a great programmer but...by Desphixs</strong>
          <small class="text-muted">Mon</small>
        </div>
        <div class="col-10 mb-1 small">in my family trait, nobody knows anything about computers and i wanted to be the greatest computer scientist ever and...</div>
      </a>
    </div>
  </div>
{% endblock %}